.menu{
  background-color: $orange;
  position: absolute;
  top: 0;
  left: 0;
  //right: 64px;
  //bottom: 0;
  width: 68%;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 120;
  height: auto;
  min-height: 100% ;

  &__container{
    padding-top: 32px;
  }
}
