.list{
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  &__wrap{
    width: 48%;
    margin: 1%;
  }

  &__img{
    height: 0;
    width: 100%;
    padding-top: 100%;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  &__col{
    padding: 10px;
    background-color: #fff;
    margin-bottom: 5px;
  }
}
