$red: #cd2e3d;
$orange: #f89526;

$navig-text:#f5f4f2;
$navig-text-active:#303030;

$article-title:#f5f4f2;
$article-author: #b9b9b9;
$article-stars:  #f5f4f2;

$menu-orange: #c4751c;

$content-text: #303030;
$content-title: #cd2e3d;
